.songsTableBody {
    font-size: 35px;
    width: 90%;
    margin-left: 20px;
    margin-right: 10px;
}

.evenRow {
    background-color: #858585;
}

.oddRow {
    background-color: #8b8b8b;
}

.selectedRow {
    background-color: #aaaaaa;
}